<!DOCTYPE html>
<html>
<head>
	<title>Menu de Navegação Lateral</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="menu-lateral">
		<ul>
			<li><a href="#home">Home</a></li>
			<li><a href="#sobre">Sobre</a></li>
			<li><a href="#contato">Contato</a></li>
		</ul>
	</div>

	<div class="conteudo">
		<div id="home">
			<h1>Home</h1>
			<p>Bem-vindo ao meu site!</p>
		</div>

		<div id="sobre">
			<h1>Sobre</h1>
			<p>Este é um exemplo de site com menu de navegação lateral.</p>
		</div>

		<div id="contato">
			<h1>Contato</h1>
			<p>Entre em contato conosco!</p>
		</div>
	</div>

    
	<script src="script.js"></script>
</body>
</html>
