<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina2</title>
</head>
<body>
    <h1>teste pagina 2</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam distinctio commodi aliquid alias nam maxime magni corporis harum, optio provident error praesentium. Commodi optio laborum est ipsum dolore, sunt mollitia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptates optio quo, perferendis qui voluptate consequatur voluptatum cupiditate accusantium necessitatibus culpa? Nemo amet, qui ut nam quidem architecto minima numquam.</p>
    
</body>
</html>