body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

.ceu {
	width: 100%;
	height: 600px;
	background-color: #64b2f2; /* Cor do céu */
	position: relative;
}

.sol {
	width: 150px;
	height: 150px;
	background-color: #ff9900; /* Cor do sol */
	border-radius: 50%;
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 0 50px rgba(255, 153, 0, 0.5);
}

.montanhas {
	width: 100%;
	height: 200px;
	background-color: #666; /* Cor das montanhas */
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.luz {
	width: 100%;
	height: 100px;
	background-color: #64b2f2; /* Cor da luz do sol */
	position: absolute;
	bottom: 200px;
	left: 0;
	opacity: 0.5;
	z-index: 0;
}